.chevron-wrapper {display:none}
.site-navbar .navbar-brand {font-size: 1.5rem;}
.google-maps {
        position: relative;
        padding-bottom: 75%; 
        height: 0;
        overflow: hidden;
    }
.google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
 #map {
        height: 600px;
        width: 100%;
       }
.yellowbox {
    background-color: #ffc904;
	padding: 15px;
	border-radius: 0px;
}
.btn-outline-inverse {
    color:black;
    background-color:white
}

.site-navbar .navbar-brand {
    border:1px solid red;
}


.mobileShow { display: none; }
.tabletShow { display:none }
.desktopShow {display:inline }

  @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px) {
        .mobileShow {
            display: inline;
        }
        .desktopShow {
            display:none;
        }
  }

  @media only screen
    and (min-device-width : 992px)
    and (max-device-width: 768px)  {
        .tabletShow {
            display:inline;
        }
        .desktopShow {
            display:none;
        }
  }
  @media only screen
    and (min-device-width : 1024px)
    and (max-device-width: 1366px)  {
        .tabletShow {
            display:inline;
        }
        .desktopShow {
            display:none;
        }
  }
  @media only screen
    and (min-device-width : 768px)
    and (max-device-width: 1024px)  {
        .tabletShow {
            display:inline !important;
        }
        .desktopShow {
            display:none;
        }
  }
